In [1]:
import pandas as pd
import numpy as np
import re
import unicodedata

## Before Cleaning

In [2]:
df = pd.read_csv('global-shark-attacks/attacks.csv', engine='python')

In [3]:
df.dtypes

Case Number                object
Date                       object
Year                      float64
Type                       object
Country                    object
Area                       object
Location                   object
Activity                   object
Name                       object
Sex                        object
Age                        object
Injury                     object
Fatal (Y/N)                object
Time                       object
Species                    object
Investigator or Source     object
pdf                        object
href formula               object
href                       object
Case Number.1              object
Case Number.2              object
original order            float64
Unnamed: 22                object
Unnamed: 23                object
dtype: object

In [14]:
df.Type.value_counts()

Unprovoked      4595
Provoked         574
Invalid          547
Sea Disaster     239
Boating          203
Boat             137
Questionable       2
Boatomg            1
Name: Type, dtype: int64

In [15]:
df.Date.value_counts()

1957                    11
1942                     9
1956                     8
1958                     7
1941                     7
1950                     7
1949                     6
No date                  6
1954                     5
1940                     5
1970s                    5
28-Jul-1995              5
Aug-1956                 5
Oct-1960                 5
05-Oct-2003              5
No date, Before 1963     5
1955                     5
1959                     5
12-Apr-2001              5
27-Dec-2008              4
28-Dec-2014              4
09-Jan-2010              4
15-Apr-2018              4
29-Apr-2017              4
27-Jul-1952              4
1952                     4
23-Jan-1970              4
1904                     4
Before 1906              4
09-Jul-1994              4
                        ..
Summer 1965              1
25-Jul-1936              1
21-Aug-1968              1
31-Aug-2011              1
05-Dec-2013              1
1748                     1
05-Apr-1959              1
09-Jul-1987              1
12-30-1980               1
01-Nov-2003              1
16-Jan-1996              1
29-Jun-1960              1
17-Aug-1975              1
Aug-2006                 1
30-Jan-2015              1
07-Nov-1988              1
03-Dec-1882              1
15-Aug-1899              1
Reported 10-Jul-1963     1
22-Aug-1994              1
12-Feb-1847              1
06-Oct-1954              1
14-Jul-1996              1
Reported 1929            1
17-Jun-2015              1
14-Mar-2004              1
19-Apr-1946              1
08-Jun-1938              1
06-Nov-1999              1
06-Dec-1964              1
Name: Date, Length: 5433, dtype: int64

In [17]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [18]:
df['Sex '].value_counts()

M      5094
F       637
M         2
N         2
.         1
lli       1
Name: Sex , dtype: int64

In [37]:
df.Country.value_counts()

USA                               2229
AUSTRALIA                         1338
SOUTH AFRICA                       579
PAPUA NEW GUINEA                   134
NEW ZEALAND                        128
BRAZIL                             112
BAHAMAS                            109
MEXICO                              89
ITALY                               71
FIJI                                62
PHILIPPINES                         61
REUNION                             60
NEW CALEDONIA                       53
CUBA                                46
MOZAMBIQUE                          45
SPAIN                               44
INDIA                               40
EGYPT                               38
CROATIA                             34
JAPAN                               34
PANAMA                              32
SOLOMON ISLANDS                     30
IRAN                                29
JAMAICA                             27
FRENCH POLYNESIA                    25
GREECE                              25
HONG KONG                           24
ENGLAND                             23
INDONESIA                           23
PACIFIC OCEAN                       17
                                  ...
TASMAN SEA                           1
ROATAN                               1
GREENLAND                            1
MALDIVES                             1
EGYPT / ISRAEL                       1
ALGERIA                              1
SWEDEN                               1
KUWAIT                               1
TUVALU                               1
ARGENTINA                            1
IRAN / IRAQ                          1
RED SEA                              1
CURACAO                              1
NORTH ATLANTIC OCEAN                 1
SLOVENIA                             1
GABON                                1
ASIA?                                1
DJIBOUTI                             1
RED SEA?                             1
GRAND CAYMAN                         1
COOK ISLANDS                         1
FEDERATED STATES OF MICRONESIA       1
INDIAN OCEAN?                        1
JAVA                                 1
MONACO                               1
 PHILIPPINES                         1
AFRICA                               1
ITALY / CROATIA                      1
Sierra Leone                         1
BAY OF BENGAL                        1
Name: Country, Length: 212, dtype: int64

In [41]:
df.Injury.value_counts().head(100)

FATAL                                              802
Survived                                            97
Foot bitten                                         87
No injury                                           82
Leg bitten                                          72
Left foot bitten                                    50
No details                                          43
Right foot bitten                                   39
No injury, board bitten                             31
Hand bitten                                         29
Thigh bitten                                        27
FATAL, body not recovered                           24
Minor injury                                        22
Calf bitten                                         22
Foot lacerated                                      21
Right leg bitten                                    20
Arm bitten                                          20
Lacerations to foot                                 20
Lacerations to right foot                           18
Lacerations to left foot                            18
Ankle bitten                                        17
Right calf bitten                                   16
Minor injuries                                      14
No injury to occupants                              14
Heel bitten                                         14
Left arm bitten                                     13
Foot severed                                        13
No injury, surfboard bitten                         13
Left leg bitten                                     13
Leg injured                                         13
                                                  ...
Minor injury to foot                                 6
No injury, board damaged                             6
Hand severed                                         6
Left thigh lacerated                                 6
Hand injured                                         6
Right hand lacerated                                 6
Torso bitten                                         6
Right calf lacerated                                 6
Lacerations                                          6
Swim fin bitten                                      6
Lacerations to left forearm                          6
Shoulder bitten                                      5
Right hand severed                                   5
Right arm bitten                                     5
Foot & ankle lacerated                               5
Laceration to left thigh                             5
PROVOKED INCIDENT                                    5
Shark involvement prior to death unconfirmed         5
Laceration to calf                                   5
Foot injured                                         5
Right hand bitten                                    5
Right foot & ankle lacerated                         5
Lower leg bitten                                     5
Laceration to thigh                                  5
Puncture wounds to right foot                        5
Finger bitten by hooked shark PROVOKED INCIDENT      5
Calf lacerated                                       5
Minor injury to left foot                            5
Buttocks bitten                                      5
Minor injury to leg                                  5
Name: Injury, Length: 100, dtype: int64

In [22]:
df['Fatal (Y/N)'].value_counts()

N          4293
Y          1388
UNKNOWN      71
 N            7
2017          1
N             1
M             1
y             1
Name: Fatal (Y/N), dtype: int64

In [24]:
df['Species '].value_counts()

White shark                                                   163
Shark involvement prior to death was not confirmed            105
Invalid                                                       102
Shark involvement not confirmed                                88
Tiger shark                                                    73
Shark involvement prior to death unconfirmed                   68
Bull shark                                                     52
4' shark                                                       40
6' shark                                                       40
1.8 m [6'] shark                                               35
Questionable incident                                          35
Questionable                                                   34
1.5 m [5'] shark                                               32
1.2 m [4'] shark                                               27
3' shark                                                       26
5' shark                                                       26
2 m shark                                                      25
4' to 5' shark                                                 24
3 m [10'] shark                                                22
Wobbegong shark                                                21
No shark involvement                                           21
3' to 4' shark                                                 18
3 m shark                                                      17
2.4 m [8'] shark                                               16
12' shark                                                      15
Blacktip shark                                                 15
3.7 m [12'] shark                                              15
Blue shark                                                     14
1.2 m to 1.5 m [4' to 5'] shark                                14
Shark involvement prior to death not confirmed                 13
                                                             ...
Whitetip reef shark                                             1
Possibly a blue shark                                           1
234-lb shark                                                    1
Blue shark, 8' [2.4 m], 500-lb                                  1
2 m [6.75'] sevengill  shark                                    1
2.7 m [9'] shark later captured by Mitchell-Hedges              1
White shark, 4.6 m                                              1
Tiger shark, 3 m to 3.7 m [10' to 12']                          1
Dusky shark, 2m                                                 1
White shark, 3 m to 4 m [10' to 13']                            1
 Tiger shark, 3'                                                1
Hammerhead shark, 9'                                            1
White shark, 4.4 m [14.5'] .                                    1
Bull shark, 1.65 m [5'5"] was speared & killed                  1
Tiger shark, 13'                                                1
Soupfin shark                                                   1
Caribbean reef shark, 4.5'                                      1
Said to involve a 4.9 m [16'] "red shark"                       1
Bull shark, 1m                                                  1
Tiger shark, 2.5 m [8.25']                                      1
Bull shark, 2.4 m [8']                                          1
Nurse shark, 60 cm to 90 cm [2' to 3']                          1
White shark, 11' to 13'                                         1
1.5 m copper shark                                              1
>2 m shark                                                      1
1.2 m to 1.5 m [4' to 5']   shark                               1
300- to 400-lb Zambesi shark                                    1
small blue shark                                                1
Two sharks seen in vicinity: 2.4 m & 4.25 m  [8' & 14'] TL      1
4.3 m shark                                                     1
Name: Species , Length: 1549, dtype: int64

In [25]:
df.Age.value_counts()

17                         154
18                         150
19                         142
20                         141
15                         139
16                         138
21                         119
22                         117
25                         108
24                         106
14                         101
13                          94
26                          83
28                          80
23                          80
27                          78
29                          78
30                          76
12                          73
32                          69
35                          69
10                          56
40                          56
31                          52
34                          50
38                          48
33                          44
43                          43
36                          43
37                          42
                          ...
37, 67, 35, 27,  ? & 27      1
?    &   14                  1
7      &    31               1
 28                          1
21 or 26                     1
18 or 20                     1
Both 11                      1
33 & 26                      1
46 & 34                      1
X                            1
12 or 13                     1
34 & 19                      1
25 or 28                     1
9 or 10                      1
                             1
36 & 23                      1
                             1
28 & 26                      1
9 months                     1
21, 34,24 & 35               1
 43                          1
23 & 20                      1
13 or 14                     1
21 & ?                       1
86                           1
30 & 32                      1
23 & 26                      1
33 or 37                     1
"young"                      1
50 & 30                      1
Name: Age, Length: 157, dtype: int64

## After Cleaning

In [9]:
from exe import *

In [10]:
df_clean = exe('global-shark-attacks/attacks.csv')

In [11]:
df_clean.dtypes

Case Number                object
Date                       object
Year                       object
Type                       object
Country                    object
Area                       object
Location                   object
Activity                   object
Name                       object
Sex                        object
Age                         int64
Injury                     object
Fatal (Y/N)                object
Time                       object
Species                    object
Investigator or Source     object
pdf                        object
href formula               object
href                       object
original order            float64
dtype: object

In [26]:
df_clean.Type.value_counts()

Unprovoked      4597
Provoked         574
Invalid          549
Boating          343
Sea Disaster     239
Name: Type, dtype: int64

In [27]:
df_clean.Date.value_counts()

Unknown                906
2003-10-05 00:00:00      5
2001-04-12 00:00:00      5
1995-07-28 00:00:00      5
1952-07-27 00:00:00      4
1970-01-23 00:00:00      4
2014-12-28 00:00:00      4
2012-06-14 00:00:00      4
1994-07-09 00:00:00      4
1906-10-10 00:00:00      4
2017-04-29 00:00:00      4
2008-12-27 00:00:00      4
2018-04-15 00:00:00      4
2015-09-20 00:00:00      4
2010-01-09 00:00:00      4
2007-09-30 00:00:00      3
2017-07-20 00:00:00      3
2011-06-06 00:00:00      3
1885-07-26 00:00:00      3
2013-07-29 00:00:00      3
2015-06-26 00:00:00      3
2001-08-18 00:00:00      3
2001-08-19 00:00:00      3
1966-05-20 00:00:00      3
2008-08-30 00:00:00      3
2002-09-27 00:00:00      3
1999-12-31 00:00:00      3
2003-04-20 00:00:00      3
2005-11-25 00:00:00      3
2003-09-14 00:00:00      3
                      ...
2007-07-22 00:00:00      1
1901-06-24 00:00:00      1
1956-07-20 00:00:00      1
1984-09-19 00:00:00      1
1877-01-04 00:00:00      1
2002-08-07 00:00:00      1
1946-05-09 00:00:00      1
1994-12-30 00:00:00      1
1858-01-09 00:00:00      1
2003-04-15 00:00:00      1
1984-02-11 00:00:00      1
2013-08-29 00:00:00      1
1990-09-08 00:00:00      1
1863-02-05 00:00:00      1
1935-03-20 00:00:00      1
1936-03-19 00:00:00      1
1995-06-13 00:00:00      1
1956-10-27 00:00:00      1
2010-01-27 00:00:00      1
1907-08-08 00:00:00      1
1876-06-04 00:00:00      1
1951-12-06 00:00:00      1
1877-02-17 00:00:00      1
2012-06-18 00:00:00      1
1987-11-21 00:00:00      1
2013-07-30 00:00:00      1
1974-08-23 00:00:00      1
1962-11-25 00:00:00      1
1941-11-24 00:00:00      1
1984-07-01 00:00:00      1
Name: Date, Length: 4739, dtype: int64

In [28]:
df_clean.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'original order'],
      dtype='object')

In [30]:
df_clean.Sex.value_counts()

M    5613
F     689
Name: Sex, dtype: int64

In [38]:
df_clean.Country.value_counts()

USA                         2229
Australia                   1338
South Africa                 579
New Guinea                   145
New Zealand                  128
Brazil                       112
Bahamas                      109
Mexico                        89
Italy                         72
Fiji                          65
Philippines                   61
Reunion Island                61
New Caledonia                 53
Unknown                       50
Cuba                          46
Mozambique                    45
Spain                         44
India                         40
Egypt                         39
Japan                         34
Croatia                       34
Panama                        32
Solomon Islands               31
Iran                          30
Jamaica                       27
French Polynesia              25
Greece                        25
Hong Kong                     24
Indonesia                     23
England                       23
                            ...
Argentina                      1
Mayotte                        1
Northern Arabian Sea           1
Peru                           1
Cook Islands                   1
The Balkans                    1
North Sea                      1
South China Sea                1
Cyprus                         1
Monaco                         1
Unkown                         1
Africa                         1
Djibouti                       1
Kuwait                         1
Equatorial Guinea              1
Bahrein                        1
Asia                           1
Ireland                        1
Tuvalu                         1
Northern Mariana Islands       1
Gulf Of Aden                   1
Sweden                         1
Curacao                        1
Falkland Islands               1
Bangladesh                     1
Admiralty Islands              1
Palestinian Territories        1
Puerto Rico                    1
Bay Of Bengal                  1
Tasman Sea                     1
Name: Country, Length: 186, dtype: int64

In [32]:
df_clean.Injury.value_counts()

Unknown            1842
Leg Injury         1256
Foot Injury         869
No Injury           792
Arm Injury          546
Hand Injury         531
Minor Injury        248
Torso Injury         52
Face Injury          42
Abdomen Injury       39
Head Injury          24
Buttocks Injury      22
Chest Injury         22
Hip Injury           17
Name: Injury, dtype: int64

In [33]:
df_clean['Fatal (Y/N)'].value_counts()

N          4686
Y          1535
Unknown      81
Name: Fatal (Y/N), dtype: int64

In [35]:
df_clean.Species.value_counts()

Unknown                 4403
White Shark              626
Tiger Shark              282
Bull Shark               178
Black Tip Shark          109
Blue Whale Shark          78
Grey Shark                65
Nurse Shark               57
Blue Shark                55
Mako Shark                52
Wobbewong Shark           50
Hammerhead Shark          48
Raggedtooth Shark         43
Lemon Shark               34
Caribbean Reef Shark      33
Zambesi Shark             32
Whitetip Shark            26
Sand Shark                24
Spinner Shark             21
Sevengill Shark           14
Dusky Shark               13
Dog Shark                 10
Carpet Shark               8
Angel Shark                6
Galapagos Shark            6
Porbeagle Shark            6
Copper Shark               5
Thresher Shark             4
Silky Shark                4
Silvertip Shark            3
Shovelnose Shark           3
Goblin Shark               2
Gummy Shark                1
Banjo Shark                1
Name: Species, dtype: int64

In [36]:
df_clean.Age.value_counts()

28    3074
17     156
18     153
20     150
19     142
16     139
15     139
21     122
22     117
25     110
24     106
14     101
13      96
30      86
26      83
23      82
29      78
27      78
12      74
32      70
35      69
40      59
10      57
31      53
34      51
38      48
33      47
36      45
43      44
37      43
      ...
51      20
60      18
54      17
57      16
58      15
61      13
53      13
59      11
69      10
56      10
63       9
62       8
68       7
70       6
65       5
64       4
66       4
71       3
73       3
77       3
78       2
74       2
75       2
67       1
82       1
72       1
84       1
81       1
86       1
87       1
Name: Age, Length: 73, dtype: int64